.CreateCourse{
    padding: 15px;
    border: 1px solid dodgerblue;
    min-height: 85vh;
    width: 100%;
}
.top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.authors{
    margin-top: 5px;
    padding: 40px 15px;
    border: 1px solid black;
    display: flex;
    width: 100%;
}
.left{
    width: 50%;
}
.add{
    display: flex;
    flex-direction: column;
}
.add:first-of-type{
    margin-bottom: 50px;
}
.add button{
    display: flex;
    align-self: center;
    justify-content: center;
}
.add h3, .authors h3{
    font-weight: normal;
    text-align: center;
}
.add p{
    margin-top: 10px;
    font-size: x-large;
}
.add span{
    font-size: xx-large;
}
.right{
    width: 50%;
}
.list:first-of-type{
    margin-bottom: 20px;
}
.authors-list{
    width: 80%;
    margin: 0 auto;
}
.authors-list p{
    text-align: center;
    margin-top: 10px;
}
.author-with-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}