.CourseInfo{
    padding: 5px 15px 0;
    border: 1px solid dodgerblue;
    min-height: 85vh;
}
.CourseInfo h1{
    text-align: center;
    margin: 15px 0 40px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.title{
    width: 50%;
}
.more{
    width: 30%;
}
.more p{
    margin-bottom: 10px;
}