.CourseCard{
    border: 1px solid dodgerblue;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.description{
    width: 75%;
}
.description h2{
    margin-bottom: 8px;
}
.details{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.details p{
    width: 100%;
}
.card-buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}