.Input{
    width: 500px;
    padding: 5px 10px;
    background: none;
    font-size: inherit;
    border: 1px solid orangered;
    margin: 10px 0;
}
fieldset{
    border: none;
    display: inline-flex;
    flex-direction: column;
}