.Button{
    background: none;
    font-size: inherit;
    border: 1px solid darkviolet;
    border-radius: 0;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px 0 10px 10px;
    min-width: 140px;
    height: 33px;
}
.SmallButton{
    background: none;
    font-size: inherit;
    border: 1px solid darkviolet;
    border-radius: 0;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px 0 10px 10px;
    min-width: 30px;
    height: 33px;
}