.Textarea{
    width: 100%;
    padding: 5px 10px;
    background: none;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid orange;
    margin: 10px 0;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}