.Header{
    border: 1px solid crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    margin-bottom: 15px;
}
.Header a{
    text-decoration: none;
    padding-right: 20px;
}
.name{
    padding-right: 10px;
}