.Courses{
    padding: 5px 15px 0;
    border: 1px solid dodgerblue;
    min-height: 85vh;
}
.menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.amount{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}