.Login{
    padding: 5px 15px 0;
    border: 1px solid dodgerblue;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fetch-errors{
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid darkred;
    background: darkred;
    color: white;
    font-weight: bold;
}
form{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
form p{
    margin-bottom: 20px;
}
p.error{
    color: darkred;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
    color: dodgerblue;
}